/* ================
shared style
==================== */
* {
    font-family: 'Work Sans', sans-serif;
    word-wrap: break-word;
    margin: 0px;
}
header, main{
    padding: 0px 100px;
}
/* ==================
header section
================== */
nav,
.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.nav-logo img {
    height: fit-content;
    width: auto;
}

.nav-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin: 20px 0;
}

#nav-span {
    font-family: Work Sans;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

}

.nav-links a {

    text-decoration: none;
    color: black;
}

#youtube {
    color: #F61C0D;
    ;
}

.nav-link {
    padding: 16px 24px;
    margin-left: 20px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* banner part
=========== */
.banner {
    display: flex;
}

.banner>div {
    width: 50%;
}

.banner2 img {
    width: 100%;
}

.banner1 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#attraction-para {
    color: #0B0223;
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0%;
}

#attraction-title {
    font-size: 90px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0%;
}

.attraction-details,
.common-para {
    color: #534C64;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
}

.btn1,
.btn2 {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
}

.btn2 {
    border-radius: 48px;
    background: #4EC5F7;
}

.attraction-div {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.attraction-div img {
    height: fit-content;
    margin-right: 20px;
}

.attraction-div p {
    margin: 9px;
}

.banner1-child>p,
h4 {
    margin: 20px 0px;
}

.banner1-child2 {
    margin-bottom: 30px;
}

/* ======================
main part
========================= */
/* ==========
online gaming section
============= */
.online-gaming {
    text-align: center;
}

.online-title {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.online-para{
    margin: 50px 0px;
}

.online-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.online-games {
    display: flex;
    justify-content: space-between;
    text-align: left;
    gap: 24px;
}

.online-games>div {
    width: calc(100% - 24px);
}

.online-game img {
    width: 100%;
    margin-bottom: 10px;
}



/* hover section */
.online-game{
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    /* height: 500.19px; */
}

.online-game .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 87%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
.online-game:hover .content-overlay{
    opacity: 1;
  }

  .online-game img{
    width: 100%;
  }

.hover-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .online-game:hover .hover-details{
    top: 50%;
    left: 50%;
    opacity: 1;

  }

  .hover-details .fa-solid{
    position: relative;
    top: -20px;
    color: #fff;
    font-size: 2em;

  }
  .hover-details p{
    /* margin-top: 10px; */
    margin-bottom: 10px;
    color: magenta;
    font-size: 1.5em;
  }
  .fadeIn-bottom{
    top: 80%;
  }
  
  .fadeIn-right{
    left: 80%;
  }
  .online-game3{
    margin: 0px auto;
}

/* ================
instant section
====================== */
.instant-playing {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    column-gap: 120px;
}

.instant1 {
    align-items: center;

    gap: 24px;
}

.instant-playing>div {
    width: 50%;
}

.instant2 {
    margin-top: 120px;
}

.instant2 img {
    width: fit-content;
}

.instant-title {
    font-size: 48px;
    font-weight: 700;
    color: #0B0223;
    margin: auto;

}

.instant-title span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-position {
    position: relative;
    bottom: 18em;
    left: -65%;
}

/* =================
arcade gaming section
-------------------- */

.aracade-games {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;

    word-wrap: none;
    margin: 0px 0px 120px;
}

.aracade-gaming {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
}

.aracade-gaming p {
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;


}

.aracade-gaming:hover {
    text-align: center;
    align-items: center;
    border: 1px solid #FF42A5;
    border-radius: 50px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ======================
footer section
========================= */
footer {
    text-align: center;
    padding: 120px 0px;
    background: #0B0223;

}

footer a {

    text-decoration: none;
    color: black;
}

.footer1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #FFF;
}

.footer2 {
    margin: 60px 0px;

}

.footer2 a {
    color: #FFF;
    margin-right: 50px;
}

.footer3 {

    margin: 70px 0px 25px 0px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.footer3 .fa-brands {
    color: #FFF;
    margin-right: 35px;
    font-size: xx-large;
}

.footer4 {
    margin-top: 64px;
    margin-bottom: 18px;
}

.footer4 a,
.footer5 {
    color: #FFF;
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;
}

/* =======================================
media query
========================================== */
@media screen and (max-width:576px) {
    header, main{
        padding: 0px 20px;
    }
    nav,
    .nav-links {
        flex-direction: column;
        gap: 30px;

    }

    .banner {
        margin-top: 50px;
        flex-direction: column-reverse;
        gap: 50px;
        margin-bottom: 100px;
    }

    .banner>div {
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }

    #attraction-para {
        font-size: 2rem;
    }
    .attraction-div p{
        font-size: 1em;
    }


    .online-gaming {
        margin-top: 50px;
    }

    .online-games {
        flex-direction: column;
        align-items: center;
    }
    .online-game3{
        margin: 0px;
    }


    .online-title{
        font-size: 1.8em;
    }
    .common-para{
        font-size: 13px;
    }
    .gaming-para{
        text-align: center;
    }

    .online-game .content-overlay {
        height: 93.5%;
    }

    
    .instant-title{
        margin-bottom: 50px;
    }
    .instant-playing {
        flex-direction: column;
    }

    .instant1 {
        margin-top: 60px;
        text-align: center;
    }

    .instant-playing>div {
        width: 100%;
    }

    .instant2 {
        margin-top: 70px;
    }

    .instant2 img {
        width: 80%;
    }


    .instant2>div,
    .instant-position>img {
        width: 65%;
    }

    .instant-position {
        left: -5.8em;
        bottom: 9.5em;
    }

    .aracade-games {
        margin: 0%;
        margin-bottom: 50px;
        gap: 5px;
    }

    .aracade-games>div {
        width: 30%;
    }

    .aracade-gaming {
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .aracade-gaming>img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .aracade-gaming p {
        font-size: 13px;
        margin: 0%;
        margin-left: 5px;
    }

    footer {
        padding: 80px;
        gap: 50px;
    }

    .footer1 {
        margin-bottom: 10px;
    }

    .footer1 img,
    .footer-title {
        font-size: 2em;
    }

    .footer2 {
        display: flex;
        text-align: right;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0%;
    }

    .footer2>a {
        font-size: small;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .footer3 .fa-brands {
        margin-bottom: 30px;
    }

    .footer4 {
        margin-top: 0px;
    }

    .footer4 a,
    .footer5 {
        font-size: .5em;
        margin-right: 20px;
    }

    .footer5 {
        font-size: .5em;
    }
}



/* ===========================================
==========================================
==================================== */
@media screen and (min-width:577px) and (max-width:992px) {
    * {
        margin: 0px;
    }
    header, main{
        padding: 0px 50px;
    }
    nav {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }

    .banner {
        margin-top: 50px;
        flex-direction: column-reverse;
        gap: 50px;
        margin-bottom: 50px;
    }


    .banner>div {
        width: 100%;
        align-items: center;
    }







    .attraction-div p{
        font-size: 1.5em;
    }

    .online-games {
        flex-direction: column;

    }

    .online-game .content-overlay {
        height: 90.5%;
    }





    .instant-playing {
        margin-top: 50px;
        flex-direction: column;
        text-align: center;
    }

    .instant-playing>div {
        width: 80%;

    }
    .instant-title{
        margin-bottom: 60px;
    }
    .instant2 {
        position: relative;
        right: -5em;
    }

    .instant2>img {
        width: 90%;
        margin-left: 50px;
    }

    .instant-position {
        width: 10%;
        left: -17%;
        bottom: 18em;
    }

    .aracade-games {
        row-gap: 50px;
    }

    .aracade-gaming {
        align-items: center;
    }

    .footer2 {
        flex-wrap: wrap;
    }

    .footer2 a {
        margin-bottom: 50px;
    }

}